{
  "description": "对拍（BeatDance）微信小程序",
  "packOptions": {"ignore": []},
  "setting": {"urlCheck": false, "es6": true, "enhance": true, "minified": true},
  "compileType": "miniprogram",
  "appid": "YOUR_WECHAT_APPID",
  "projectname": "BeatDance",
  "miniprogramRoot": "./"
}
